.fitted-image {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.fitted-image-container {
  overflow: hidden;
  position: relative;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
body {
  font-family: 'Rokkitt', serif;
}
.container {
  width: 45%;
  margin: 9% auto;
}
.question {
  font-weight: normal;
  font-style: italic;
  color: #757e7d;
  text-align: center;
}
.option-list {
  border: 1px solid #e0e0d4;
  border-radius: 1%;
  overflow: hidden;
}
.option {
  font-size: 1.3em;
  color: #353f45;
  padding: 0.5em 0;
  padding-left: 3.9em;
  margin: 0.3em 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.option:hover {
  background: #f3fcfb;
  box-shadow: 0px 0px 15px 0px #8a9da1;
}
.option:hover .radio-custom {
  background-color: #b3c5cf;
}
.radio-btn {
  position: absolute;
  top: 0.5em;
  left: 1.3em;
  height: 2.7em;
  width: 2.7em;
  opacity: 0;
  cursor: pointer;
  z-index: 99;
}
.option .radio-btn:checked ~ .radio-custom {
  background-color: #8a9da1;
}
.option .radio-btn:checked ~ .radio-custom:after {
  display: block;
}
.radio-custom {
  position: absolute;
  top: 0.5em;
  left: 1.3em;
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  background-color: #e0e0d4;
  border: 1px solid #757e7d;
}
.radio-custom:after {
  content: "";
  position: absolute;
  display: none;
}
.option .radio-custom:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.next-btn {
  background: #8a9da1;
  border: none;
  border-radius: 3px;
  font-size: 1.3em;
  display: block;
  margin: 2% auto;
  padding: 1% 2%;
  color: white;
}
.ready {
  background: #47545c;
}
.alert {
  text-align: center;
  color: red;
  background: #e0e0d4;
  padding: 1%;
  display: block;
  opacity: 0;
  border-radius: 5px;
}
.alert-show {
  opacity: 1;
}
.loading-container {
  text-align: center;
  margin-top: calc(50vh - 200px);
  opacity: 0;
  animation: fade 3s linear;
}
@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
}
.winner-container {
  width: 46%;
  margin: 4% auto;
  position: absolute;
  top: 0;
  left: 27vw;
  opacity: 1;
  animation: fade-in 4s linear;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.img-container {
  overflow: hidden;
  position: relative;
  width: 35vw;
  height: 20vw;
  margin: 0 auto;
}
.img-container img {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.description {
  margin-top: 3%;
  font-size: 1.2em;
  text-align: justify;
}
.tie-container {
  width: 66vw;
  position: absolute;
  top: 4vw;
  left: 17vw;
  opacity: 1;
  animation: fade-in 4s linear;
}
.tie-position-container {
  position: relative;
}
.tie {
  width: 31vw;
  position: absolute;
  top: 0;
  left: 0;
}
.tie:last-child {
  left: 35vw;
}
.tie-img {
  overflow: hidden;
  position: relative;
  width: 25vw;
  height: 18vw;
  margin: 0 auto;
}
.tie-img img {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
